body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fbeec1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #8b5e3c;
}

#fortune-cookie {
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#fortune-cookie:active {
    transform: scale(0.9);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

p {
    font-size: 18px;
    color: #8b5e3c;
    font-weight: bold;
}
